// Logo
.lab-logo {
  &:hover {
    cursor: pointer;
  }
}

// Media Queries
// Small Mobile
@media screen and (max-width: 48rem) {
  .lab-logo {
    width: 100%;
  }
}

@media screen and (min-width: 48rem) {
  .lab-logo {
    width: 6.6rem;
  }
}

