// Colors
$lab-color-accent-900: rgba(217, 162, 60, 1); // #d9a23c
$lab-color-warn-alert: rgba(231, 111, 81, 1); // #E76F51

// Sizes
$lab-card-height: 24rem;
$lab-card-perspective: 200rem;

// Mixins
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin background {
  background-size: cover;
  background-position-y: top;
  background-image: linear-gradient(
      to right bottom,
      rgba($lab-color-accent-900, 0.55),
      rgba($lab-color-warn-alert, 1)
    ),
    url("../../assets/images/wallpapers/user.jpg");
}

@mixin transitionUp {
  transform: translateY(-0.3125rem);
  transition: 0.2s ease-in-out;
}
// Common
.lab-card {
  width: 100%;
  font: {
    family: "MarkPro";
  }
}
// Vertically top
.lab-02-a-main-layout__vertically-top {
  .lab-card {
    flex: initial;
    position: relative;
    -moz-perspective: $lab-card-perspective;
    perspective: $lab-card-perspective;
    height: $lab-card-height;
    &:hover {
      cursor: pointer;
      .lab-card__side--front {
        transform: rotateY(-180deg);
      }
      .lab-card__side--back {
        transform: rotateY(0);
      }
    }
    .lab-card__side {
      position: absolute;
      top: 0;
      left: 0;
      height: $lab-card-height;
      width: 100%;
      border-radius: var(--lab-border-radius-large);
      overflow: hidden;
      background-color: var(--lab-color-background);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: all 0.8s ease;
    }
  }
  // Front side
  .lab-card__side--front {
    header {
      position: relative;
      height: 44%;
      border-radius: var(--lab-border-radius-large)
        var(--lab-border-radius-large) 0 0;
      @include background;
      clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    }

    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      & > span {
        padding: var(--lab-spacing-large);
        color: var(--lab-color-text-quinary);
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.8rem;
        font: {
          family: "MarkPro", sans-serif;
          size: var(--lab-font-size-xxx-large);
          weight: 400;
        }
      }
    }

    main {
      ul {
        list-style: none;
        margin: 0 auto;

        li {
          padding: var(--lab-spacing-small) var(--lab-spacing-large);
          text-align: center;
          overflow: hidden;
          max-width: 45ch;
          text-overflow: ellipsis;
          max-height: 4rem;
          font: {
            size: var(--lab-font-size-x-small);
          }
          &:nth-child(1) {
            color: var(--lab-color-primary-900);

            font: {
              weight: 600;
            }
          }
          &:nth-last-child(n + 2) {
            border-bottom: 1px solid var(--lab-color-background-mercury);
          }
        }
      }
      & > * {
        margin-top: 3rem;
      }
      .mat-icon {
        text-align: center;
        width: 100%;
      }
    }
  }
  // Back side
  .lab-card__side--back {
    background-color: var(--lab-color-background);
    transform: rotateY(180deg);
    transition: 0.2s ease-in-out;
    &:hover {
      figure {
        @include transitionUp;
      }
    }

    figure {
      display: flex;
      justify-content: center;
      img {
        padding: 33.33%;
        max-height: $lab-card-height;
      }
    }

    footer {
      position: absolute;
      z-index: 2;
      top: 60%;
      height: 40%;
      width: 100%;
      background-color: var(--lab-color-background-warn-ok-rgba);
      clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);

      h3 {
        padding: var(--lab-spacing-xx-large);
        text-align: center;
        color: var(--lab-color-text-quinary);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font: {
          family: "MarkPro", sans-serif;
          size: var(--lab-font-size-large);
          weight: 400;
        }
      }
    }
  }
}
// Vertically centered
.lab-02-b-main-layout__vertically-centered {
  .lab-card {
    display: grid;
    grid-gap: var(--lab-spacing-xxxx-large);
  }
  .lab-card__side {
    margin: auto;
  }
  // Front side
  .lab-card__side--front {
    h4 {
      & > span {
        color: var(--lab-color-warn-ok);
        line-height: 4.75rem;
        font: {
          size: 5rem;
        }
      }
    }
    li {
      list-style: none;
      line-height: 135%;
      font: {
        size: var(--lab-font-size-large);
      }
      &:nth-child(1) {
        text-decoration: underline;
        font: {
          weight: 500;
        }
      }
    }
    ul > * {
      margin-top: var(--lab-spacing-large);
    }
    .mat-icon {
      display: none;
    }
  }
  // Back side
  .lab-card__side--back {
    padding: 7rem;
    border: 2px solid var(--lab-color-primary-0);
    border-radius: var(--lab-border-radius-large);
    figure {
      display: flex;
      justify-content: center;
      img {
        max-height: $lab-card-height;
      }
    }
  }
}

// Media queries
// Mobile & Tablet
@media screen and (max-width: 48rem) {
  .lab-02-b-main-layout__vertically-centered {
    .lab-card {
      grid-template-columns: 1fr;
    }
  }
}

// Phablet & Desktop
@media screen and (min-width: 48rem) {
  .lab-02-b-main-layout__vertically-centered {
    .lab-card {
      grid-template-columns: 1fr 1fr;
    }
  }
}
