<ng-container
  *ngIf="(beersFacade.isLoading$ | async); then loading; else viewData"
></ng-container>
<ng-template #viewData>
  <section>
    <ng-container *ngIf="beersFacade.getBeerDetails$ | async as beerDetails;">
      <lab-card
        [pathImg]="beerDetails.image_url"
        [title]="beerDetails.name"
        [name]="beerDetails.name"
        [label]="beerDetails.first_brewed"
        [description]="beerDetails.description"
      ></lab-card>
    </ng-container>
  </section>
</ng-template>

<ng-template #loading>
  <section>
    <mat-spinner
      color="accent"
      diameter="60"
      strokeWidth="3"
      value="100">
    </mat-spinner>
  </section>
</ng-template>
