// Sass variables
// Brand colors
// Material theme
$lab-color-theme-primary: (
  50: #e5e9ea,
  100: #bec8cb,
  200: #93a3a9,
  300: #677e87,
  400: #47626d,
  500: #264653,
  600: #223f4c,
  700: #1c3742,
  800: #172f39,
  900: #0d2029,
  A100: #68c8ff,
  A200: #35b5ff,
  A400: #02a3ff,
  A700: #0093e7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$lab-color-theme-accent: (
  50: #fcf8ed,
  100: #f8edd2,
  200: #f4e2b5,
  300: #f0d697,
  400: #eccd80,
  500: #e9c46a,
  600: #e6be62,
  700: #e3b657,
  800: #dfaf4d,
  900: #d9a23c,
  A100: #ffffff,
  A200: #fffbf3,
  A400: #ffe8c0,
  A700: #ffdea7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$lab-color-theme-warn: (
  50: #fceeea,
  100: #f8d4cb,
  200: #f3b7a8,
  300: #ee9a85,
  400: #eb856b,
  500: #e76f51,
  600: #e4674a,
  700: #e05c40,
  800: #dd5237,
  900: #d74027,
  A100: #ffffff,
  A200: #ffe4e0,
  A400: #ffb8ad,
  A700: #ffa194,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
// Primary
$lab-color-primary: rgba(38, 70, 83, 1); // #264653
$lab-color-primary-0: rgba(255, 255, 255, 1); // #ffffff
$lab-color-primary-900: rgba(13, 32, 41, 1); // #171b1c
$lab-color-primary-1000: rgba(0, 0, 0, 1); // #000000
// Accent
$lab-color-accent-900: rgba(217, 162, 60, 1); // #d9a23c
$lab-color-accent: rgba(233, 196, 106, 1); // #E9C46A
$lab-color-accent-200: rgba(244, 226, 181, 1); // #f4e2b5
// Inactive
$lab-color-inactive: rgba(180, 188, 192, 1); // #B4BCC0
// Warn
$lab-color-warn-alert: rgba(231, 111, 81, 1); // #E76F51
$lab-color-warn-ok: rgba(42, 157, 143, 1); // #2A9D8F
$lab-color-warn-attention: rgba(244, 162, 97, 1); // #F4A261
// Background
$lab-color-background: rgba(252, 248, 237, 1); // #fcf8ed
$lab-color-background-mercury: rgba(248, 237, 210, 1); // #f8edd2
$lab-color-background-rgba: rgba(252, 248, 237, 0.33); // #EEEDED - opacity 0.33
$lab-color-background-accent: rgba(233, 196, 106, 1); // #E9C46A
$lab-color-background-warn-ok-rgba: rgba(42, 157, 143, 0.8); // #2A9D8F
// Text
$lab-color-text-primary: rgba(13, 32, 41, 1); // #171b1c
$lab-color-text-secondary: rgba(87, 91, 94, 1); // #575b5e
$lab-color-text-tertiary: rgba(38, 70, 83, 1); // #264653
$lab-color-text-quaternary: rgba(231, 111, 81, 1); // #E76F51
$lab-color-text-quinary: rgba(255, 255, 255, 1); // #ffffff
// Font sizes
$lab-font-size-x-large: 1.5rem; // 24px
$lab-font-size-large: 1.25rem; // 20px
$lab-font-size-medium: 1rem; // 16px
$lab-font-size-small: 0.875rem; // 14px
$lab-font-size-x-small: 0.75rem; // 12px
$lab-font-size-xx-small: 0.6875rem; // 11px
// Spacings
$lab-spacing-xxxx-large: 2.25rem; // 36px
$lab-spacing-xxx-large: 2rem; // 32px
$lab-spacing-xx-large: 1.5rem; // 24px
$lab-spacing-x-large: 1.25rem; // 20px
$lab-spacing-large: 1rem; // 16px
$lab-spacing-medium: 0.75rem; // 12px
$lab-spacing-small: 0.5rem; // 8px
$lab-spacing-x-small: 0.375rem; // 6px
$lab-spacing-xx-small: 0.25rem; // 4px
$lab-spacing-xxx-small: 0.0125rem; // 2px
// Global sizes
$lab-width-menu-collapsed: 4.3125rem; // 69px
$lab-width-menu-expanded: 17.5rem; // 280px
$lab-width-container: 75rem; // 1200px
$lab-width-container-s: 66.25rem; // 1060px
// Radius
$lab-border-radius-small: 0.25rem; // 4px
$lab-border-radius-medium: 0.3125rem; // 5px
$lab-border-radius-large: 25rem; // 400px
// Opacity
$lab-opacity-s: 0.33;
$lab-opacity-m: 0.5;
$lab-opacity-l: 0.66;
// Root variables
:root {
  // Brand colors
  // Primary
  --lab-color-primary: #{$lab-color-primary};
  --lab-color-primary-0: #{$lab-color-primary-0};
  --lab-color-primary-900: #{$lab-color-primary-900};
  --lab-color-primary-1000: #{$lab-color-primary-1000};
  // Accent
  --lab-color-accent-900: #{$lab-color-accent-900};
  --lab-color-accent: #{$lab-color-accent};
  --lab-color-accent-200: #{$lab-color-accent-200};
  // Inactive
  --lab-color-inactive: #{$lab-color-inactive};
  // Warn
  --lab-color-warn-alert: #{$lab-color-warn-alert};
  --lab-color-warn-ok: #{$lab-color-warn-ok};
  --lab-color-warn-attention: #{$lab-color-warn-attention};
  // Background
  --lab-color-background: #{$lab-color-background};
  --lab-color-background-mercury: #{$lab-color-background-mercury};
  --lab-color-background-rgba: #{$lab-color-background-rgba};
  --lab-color-background-accent: #{$lab-color-background-accent};
  --lab-color-background-warn-ok-rgba: #{$lab-color-background-warn-ok-rgba};
  // Text
  --lab-color-text-primary: #{$lab-color-text-primary};
  --lab-color-text-secondary: #{$lab-color-text-secondary};
  --lab-color-text-tertiary: #{$lab-color-text-tertiary};
  --lab-color-text-quaternary: #{$lab-color-text-quaternary};
  --lab-color-text-quinary: #{$lab-color-text-quinary};
  // Font sizes
  --lab-font-size-x-large: #{$lab-font-size-x-large}; // 24px
  --lab-font-size-large: #{$lab-font-size-large}; // 20px
  --lab-font-size-medium: #{$lab-font-size-medium}; // 16px
  --lab-font-size-small: #{$lab-font-size-small}; // 14px
  --lab-font-size-x-small: #{$lab-font-size-x-small}; // 12px
  --lab-font-size-xx-small: #{$lab-font-size-xx-small}; // 11px
  // Spacings
  --lab-spacing-xxxx-large: #{$lab-spacing-xxxx-large}; // 2.25rem; // 36px
  --lab-spacing-xxx-large: #{$lab-spacing-xxx-large}; // 2rem; // 32px
  --lab-spacing-xx-large: #{$lab-spacing-xx-large}; // 1.5rem; // 24px
  --lab-spacing-x-large: #{$lab-spacing-x-large}; // 1.25rem; // 20px
  --lab-spacing-large: #{$lab-spacing-large}; // 1rem; // 16px
  --lab-spacing-medium: #{$lab-spacing-medium}; // 0.75rem; // 12px
  --lab-spacing-small: #{$lab-spacing-small}; // 0.5rem; // 8px
  --lab-spacing-x-small: #{$lab-spacing-x-small}; // 0.375rem; // 6px
  --lab-spacing-xx-small: #{$lab-spacing-xx-small}; // 0.25rem; // 4px
  --lab-spacing-xxx-small: #{$lab-spacing-xxx-small}; // 0.125rem; // 2px
  // Global Sizes
  --lab-width-menu-collapsed: #{$lab-width-menu-collapsed}; // 4.3125rem; // 69px
  --lab-width-menu-expanded: #{$lab-width-menu-expanded}; // 16rem; // 256px
  --lab-width-container: #{$lab-width-container}; // 75rem; // 1200px
  --lab-width-container-s: #{$lab-width-container-s}; // 66.25rem; // 1060px
  // Radius
  --lab-border-radius-small: #{$lab-border-radius-small}; // .25rem; // 4px
  --lab-border-radius-medium: #{$lab-border-radius-medium}; // .3125rem; // 5px
  --lab-border-radius-large: #{$lab-border-radius-large}; // 25rem; // 400px
  // Opacity
  --lab-opacity-s: #{$lab-opacity-s}; // 0.33
  --lab-opacity-m: #{$lab-opacity-m}; // 0.50
  --lab-opacity-l: #{$lab-opacity-l}; // 0.66
}
