// Header
.lab-shell__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  padding: var(--lab-spacing-xx-large);
  nav {
    a {
      margin-right: var(--lab-spacing-xxx-large);
      font: {
        family: "MarkPro";
        weight: 500;
        style: normal;
        size: var(--lab-font-size-x-small);
      }
      text: {
        transform: uppercase;
      }
      letter-spacing: 0.05rem;
    }
  }
}
