// Header
.lab-shell__header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: var(--lab-spacing-xxxx-large);
}

// Tablet
@media screen and (max-width: 64rem) {
  .lab-shell__header {
    background-color: rgba($color: #d9a23c , $alpha: 0.9);
  }
}
