// Sidenav
.lab-shell__sidenav {
  position: fixed;
  min-height: 100vh;
  width: 100%;
  max-width: var(--lab-width-menu-expanded);
  padding: var(--lab-spacing-xxxx-large);
  border-right: 1px solid var(--lab-color-background-rgba);
}
