<lab-searchbar (search)="filter($event)"></lab-searchbar>
<ng-container
  *ngIf="(usersFacade.isLoading$ | async); then loading; else viewData"
></ng-container>

<ng-template #viewData>
  <section
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollEnd()"
  >
    <ng-container
      *ngFor="let user of usersFacade.getUsersByName$ | async; let i = index; trackBy: getUserById"
    >
      <lab-card
        (click)="onSendEmail(user.id)"
        pathImg="avatar.svg"
        [title]="user.name | slice:-14 | specialChars"
        [phone]="user.phone"
        [email]="user.email  | slice:-75"
      ></lab-card>
    </ng-container>
  </section>
</ng-template>

<ng-template #loading>
  <aside>
    <mat-spinner color="warn" diameter="60" strokeWidth="3" value="100">
    </mat-spinner>
  </aside>
</ng-template>
