<form [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="query" placeholder="Search by name">
  </mat-form-field>
</form>


<ng-container
  *ngIf="(beersFacade.isLoading$ | async); then loading; else viewData"
></ng-container>

<ng-template #viewData>
  <section
    infinite-scroll
    [infiniteScrollDistance]="scrollDistance"
    [infiniteScrollThrottle]="throttle"
    (scrolled)="onScrollEnd()"
  >
    <ng-container
      *ngFor="let beer of beersFacade.getBeers$ | async; let i = index; trackBy: getBeerById"
    >
      <lab-card
        (click)="goToDetails(beer.id)"
        [pathImg]="beer.image_url"
        [title]="beer.name | slice:-14 | specialChars"
        [name]="beer.name"
        [label]="beer.first_brewed"
        [description]="beer.description  | slice:-75"
      ></lab-card>
    </ng-container>
  </section>
</ng-template>

<ng-template #loading>
  <section>
    <mat-spinner color="accent" diameter="60" strokeWidth="3" value="100">
    </mat-spinner>
  </section>
</ng-template>
