<section>
  <ng-container
    *ngFor="let beer of beersFacade.getBeers$ | async; let i = index; trackBy: getBeerById"
  >
    <mat-card (click)="goToDetails(beer.id)">
      <mat-card-header>
        <span>Name</span>
        <span>{{ beer.name }}</span>
      </mat-card-header>
      <mat-card-content>
        <img [src]="beer.image_url" />
        <span>{{ beer.description }}</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="accent">
          <mat-icon
            >favorite</mat-icon
          >
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</section>


