.lab-02-a-main-layout__vertically-top {
  & > section {
    display: grid;
    grid-gap: var(--lab-spacing-xxx-large);
    margin-top: 9.5rem;
  }
  & > aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lab-color-background-warn-attention-rgba);
    z-index: 5;
  }
}

// Media Queries
// Small Mobile
@media screen and (max-width: 36rem) {
  .lab-02-a-main-layout__vertically-top {
    & > section {
      grid-template-columns: 1fr;
      margin: 8rem 2.5rem;
    }
  }
}
// Mobile
@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .lab-02-a-main-layout__vertically-top {
    & > section {
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    }
  }
}

// Tablet
@media screen and (min-width: 48rem) and (max-width: 64rem) {
  .lab-02-a-main-layout__vertically-top {
    & > section {
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
  }
}

// Phablet & Desktop
@media screen and (min-width: 64rem) {
  .lab-02-a-main-layout__vertically-top {
    & > section {
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }
  }
}
