.lab-02-b-main-layout__vertically-centered {
  & > section {
    display: grid;
    grid-gap: var(--lab-spacing-xxx-large);
  }
}

// Media Queries
// Small Mobile
@media screen and (max-width: 36rem) {
  .lab-02-b-main-layout__vertically-centered {
    & > section {
      grid-template-columns: 1fr;
    }
  }
}
// Mobile
@media screen and (min-width: 36rem) and (max-width: 48rem) {
  .lab-02-b-main-layout__vertically-centered {
    & > section {
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    }
  }
}

// Tablet
@media screen and (min-width: 48rem) and (max-width: 64rem) {
  .lab-02-b-main-layout__vertically-centered {
    & > section {
      grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
  }
}

// Phablet & Desktop
@media screen and (min-width: 64rem) {
  .lab-02-b-main-layout__vertically-centered {
    & > section {
      grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    }
  }
}
